@model Holoul.Models.ProblemViewModel

@{
    ViewData["Title"] = "حل المشكلة";
}

<h1>حل المشكلة</h1>

<div>
    <h4>وصف المشكلة</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProblemDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProblemDescription)
        </dd>

        @if (Model.ProblemImage != null)
        {
            <dt class="col-sm-2">
                صورة المشكلة
            </dt>
            <dd class="col-sm-10">
                <img src="@Model.ProblemImage" alt="Problem Image" style="max-width: 300px;" />
            </dd>
        }
    </dl>
</div>

@if (!string.IsNullOrEmpty(Model.AiSolution))
{
    <div>
        <h4>حل الذكاء الاصطناعي</h4>
        <p>
            @Html.Raw(Model.AiSolution.Replace("\n", "<br />"))
        </p>
    </div>
}
else
{
    <p>لم يتم العثور على حل.</p>
}